# flake8 does not support pyproject.toml, see:
# https://github.com/PyCQA/flake8/issues/234
[flake8]
exclude = .git,__pycache__,docs/,examples/,tests/,scripts/
max-line-length = 119
ignore=E731,W503,F405